
#submit {
    font-weight:600;
    color:black;
    background-color: rgb(168, 169, 194);
    text-align:center;
    border-radius: 5px;
    padding: 1px;
}


#add {
    font-weight:600;
    color:black;
    background-color: rgb(168, 169, 194);
    text-align:center;
    border-radius: 5px;
    padding: 1px;
}

#burner {
    font-weight:600;
    color: black;
    background-color: rgb(168, 169, 194);
    text-align:center;
    border-radius: 5px;
    padding: 1px;
}


